@font-face {
    font-family: gilroy-regular;
    src: url(fonts/Gilroy-Regular.ttf);
}
@font-face {
    font-family: gilroy;
    src: url(fonts/Gilroy-Black.woff);
}

@font-face {
    font-family: gilroy-medium;
    src: url(fonts/Gilroy-Medium.ttf);
}
.main-card{
    margin-top: -100px;
}
.card{
 display: flex;
 flex-wrap: wrap;
 gap:18px
/* grid-template-columns: repeat(7, minmax(0,1fr)); */

}


.items{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 20px 20px 0 0;
    border: 2px solid transparent;
    background-origin: border-box;
    background-image: linear-gradient(125deg, #A61473, #FFFFFF22,#05F2F2);
}
.items > div:first-child {
    background: #f7f7f7;
    border-radius:inherit;
}
.items > * > img {
    border-radius: 18px 18px 0 0;
}
.shoe1{
    width: 200px;
    height:200px;
    margin-left: 22px;

}
.round1{
    margin-left: 238px;
    margin-top: -195px; 
 }

.heart1{
  height:25px;
  padding-left: 242px;
  margin-top: -25px;
  color: #f7f7f7;
  
}

.photo1{
    height:200px;
    width:270px;
    border: border-box;
    border-radius: 10%;
    background-color: transparent
}
.review-star1{
   margin-left: -40px;
   margin-top: 15px;
   
}
.reviews{
    font-family: gilroy-regular;
}
.money{
    margin-top: -17px;
    display:flex;
    font-family: gilroy-regular;
    

}
.price{
    font-size: 18px;
    color: #10151f;
}
.sold{
    margin-left: 16px;
    font-size: 18px;
    color: #1a2c50;
}
.name{
    font-size: 8px;
    font-family: gilroy-regular;
    color: #607192;
}
.btn{
    margin-left: 20px;
    margin-top: -7px;
    border-radius: 17%;
    background-color: #f7f7f7;
    border-color: aliceblue;
    padding: 9px;
    font-size: 14px;
    font-family: gilroy-regular;
}
.reviews{
    margin-left: 30px;
}
.shoe2{
    margin-top:24px;
    width: 210px;
    height:175px;
}
.round2{
    margin-left: 238px;
    margin-top: -197px; 
 }

.heart2{
    height: 9px;
    padding-left: 242px;
    margin-top: -24px;
    color: #f7f7f7;
    
  }
.photo2{
    height:200px;
    width:270px;
    border: border-box;
    border-radius: 10%;
    background-color: transparent
}
.shoe3{
    margin-top:43px;
    margin-left: 20px;
    width: 210px;
    height:150px;
    
}
.round3{
    margin-left: 238px;
    margin-top: -191px;  
 }
.heart3{
    height:9px;
    padding-left: 242px;
    margin-top: -25px;
    color: #f7f7f7;
    
  }
.photo3{
    height:200px;
    width:270px;
    border: border-box;
    border-radius: 10%;
    background-color: transparent;
}
.shoe4{
    width: 190px;
    margin-left: 25px;
    margin-top: 10px
}
.round4{
    
    margin-left: 238px;
    margin-top: -197px;  
 }
.heart4{
    height:9px;
    padding-left: 242px;
    margin-top: -25px;
    color: #f7f7f7;
    
  }
.photo4{
    height:200px;
    width:270px;
    border: border-box;
    border-radius: 10%;
    background-color: transparent;
}
.footer{
    font-family: gilroy;
    font-size: xx-large;
    color: #677DA8;
    text-align: left;
}